*{
    background-color: black;
}
#dev{
    background: rgba(0, 0, 0, 0);
    color: #28B463; 
    font: bold;
    position: absolute;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    bottom: 20px;
    left: 250px;
}
#jay{
    background: rgba(0, 0, 0, 0);
    color: blanchedalmond;
        position: absolute;
        font-family: 'Times New Roman', Times, serif;
        font-size: 30px;
        bottom: 70px;
        left: 150px;
      }
#t3{
    
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: white;
    background: rgba(0, 0, 0, 0);
    font-size: 40px;
    position: absolute;
    top: 65px;
    right: 460px;
}
#t4{
    font: italic;
    color:#28B463;
    background: rgba(0, 0, 0, 0);
    font-size: 15px;
    position: absolute;
    top: 125px;
    right: 440px;
}
#dis{
    
    font-family: cursive;
    color:#808B96;
    background: rgba(0, 0, 0, 0);
    font-size:14px;
    position: absolute;
    top: 170px;
    right: 185px;}
#ser{
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: white;
    background: rgba(0, 0, 0, 0);
    font-size: 27px;
    position: absolute;
    top: 350px;
    right: 490px;
}


#tom{
    position: absolute;
    padding-top: 5px;
    height: 650px;
    width: 700px;
    z-index: 0;
    
}
#bg{
    position: relative;
padding-top: 40px;    
    display: block;
    height: 615px;
    width: 650px;
    float: right;
    z-index: -2;
}
#rocket{
    position: absolute;
    height: 30px;
    width: 30px;
    z-index: 1;
    top: 400px;
    right: 180px;
}
#rt1{
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    background: rgba(0, 0, 0, 0);
    position: absolute;
    z-index: 1;
    top: 440px;
    right: 120px;
}
#rt2{
    font-size: 14px;
    color: #808B96;
    font-family: cursive;
    background: rgba(0, 0, 0, 0);
    position: absolute;
    z-index: 1;
    top: 470px;
    right: 25px;
}
#pc{
    position: absolute;
    height: 30px;
    width: 30px;
    z-index: 1;
    top: 400px;
    right: 570px;
}
#pct{
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    background: rgba(0, 0, 0, 0);
    position: absolute;
    z-index: 1;
    top: 440px;
    right: 520px;
}
#pct2{
    font-size: 14px;
    color: #808B96;
    font-family: cursive;
    background: rgba(0, 0, 0, 0);
    position: absolute;
    z-index: 1;
    top: 470px;
    right: 355px;
}
#set{
    position: absolute;
    height: 30px;
    width: 30px;
    z-index: 1;
    top: 520px;
    right: 580px;
}
#set1{
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    background: rgba(0, 0, 0, 0);
    position: absolute;
    z-index: 1;
    top: 560px;
    right: 548px;
}
#set2{
    font-size: 14px;
    color: #808B96;
    font-family: cursive;
    background: rgba(0, 0, 0, 0);
    position: absolute;
    z-index: 1;
    top: 588px;
    right: 395px;}

#develop{
    position: absolute;
    height: 30px;
    width: 30px;
    z-index: 1;
    top: 520px;
    right: 180px;
}
#dv1{
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    background: rgba(0, 0, 0, 0);
    position: absolute;
    z-index: 1;
    top: 560px;
    right: 140px;
}
#dv2{
    font-size: 14px;
    color: #808B96;
    font-family: cursive;
    background: rgba(0, 0, 0, 0);
    position: absolute;
    z-index: 1;
    top: 588px;
    right: 100px;
}