*{
    background-color: black;
}
#t2{
    
    color: green; 
    position: absolute;
    font-family: 'Times New Roman', Times, serif;
    font-size: 18px;
    bottom: 20px;
    left: 250px;
}
#text{
    color: blanchedalmond;
        position: absolute;
        font-family: 'Times New Roman', Times, serif;
        font-size: 30px;
        bottom: 70px;
        left: 150px;
      }
#t3{
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    background: rgba(0, 0, 0, 0);
    font-size: 40px;
    position: absolute;
    top: 70px;
    right: 460px;
}
#t4{
    font: italic;
    color: green;
    background: rgba(0, 0, 0, 0);
    font-size: 20px;
    position: absolute;
    top: 150px;
    right: 380px;
}


#tom{
    position: absolute;
    padding-top: 5px;
    height: 650px;
    width: 700px;
    z-index: 0;
    
}
#bg{
    position: relative;
padding-top: 40px;    
    display: block;
    height: 615px;
    width: 650px;
    float: right;
    z-index: -2;
}