*{
    background-color: black;
}
#t2{
    background: rgba(0, 0, 0, 0);
    color: #28B463; 
    font: bold;
    position: absolute;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    bottom: 20px;
    left: 250px;
}
#text{
    background: rgba(0, 0, 0, 0);
    color: blanchedalmond;
        position: absolute;
        font-family: 'Times New Roman', Times, serif;
        font-size: 30px;
        bottom: 70px;
        left: 150px;
      }
#t3{
    
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: white;
    background: rgba(0, 0, 0, 0);
    font-size: 40px;
    position: absolute;
    top: 70px;
    right: 460px;
}
#t4{
    font: italic;
    color:#28B463;
    background: rgba(0, 0, 0, 0);
    font-size: 20px;
    position: absolute;
    top: 150px;
    right: 380px;
}
#t5{
    
    font-family: cursive;
    color:#808B96;
    background: rgba(0, 0, 0, 0);
    font-size:16px;
    position: absolute;
    top: 220px;
    right: 115px;}
#t6{
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: white;
    background: rgba(0, 0, 0, 0);
    font-size: 30px;
    position: absolute;
    top: 430px;
    right: 480px;
}


#tom{
    position: absolute;
    padding-top: 5px;
    height: 650px;
    width: 700px;
    z-index: 0;
    
}
#bg{
    position: relative;
padding-top: 40px;    
    display: block;
    height: 615px;
    width: 650px;
    float: right;
    z-index: -2;
}
#rocket{
    position: absolute;
    height: 40px;
    width: 40px;
    z-index: 1;
    top: 480px;
    right: 580px;
}